.button {
  padding: 0.25rem 1rem;

  color: white;
  font-size: 1.2rem;
  font-family: var(--font-roboto);
  outline: none;

  transition: all 0.5s ease-in-out;

  border: 1px solid transparent;
  border-radius: 3px;
  background-color: rgb(63, 62, 126);
}

.button:hover {
  cursor: pointer;
  color: rgb(63, 62, 126);
  font-weight: bold;
  transform: scaleX(1.1);
  border: 1px solid rgb(63, 62, 126);
  background-color: white;
}
