@use '../../colors/colors' as *;

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;

  transition: all 0.1s ease-in-out;

  & span {
    width: 40px;
    height: 5px;

    z-index: 30;

    transition: gap 0.3s ease-in-out;

    border-radius: 3px;
    background-color: $primary-light;
  }

  &:hover {
    cursor: pointer;
    gap: 5px;

    & span {
      background-color: $primary-light-accent;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: none;
  }
}
