@use '@/colors/_colors.scss' as *;

.container {
  width: clamp(20rem, 29rem + 1rem, 40rem);
  margin-top: 3rem;
  padding: 2rem 1rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  border: 2px solid transparent;
  border-radius: 15px;
  background-color: $primary;
  box-shadow: 2px 2px 2px 2px $primary-light;

  &__title {
    margin-bottom: 0.5rem;
    color: $primary-light;
  }

  &__title_h2 {
    font-size: 1.5rem;
  }

  &__input {
    width: 60%;
    padding: 0.25rem 0.5rem;

    font-size: 1.2rem;
    color: $primary-light-accent;
    outline: none;

    border: 2px solid transparent;
    border-radius: 5px;

    &:focus {
      border-color: $primary-light-accent;
    }
  }

  &__button {
    width: 25%;
    margin-top: 1rem;
    padding: 0.25rem;

    color: $primary-light;
    font-size: 1.2rem;
    outline: none;
    transition: all 0.5s ease-in-out;

    border: 1px solid $primary-light;
    border-radius: 5px;
    background-color: $primary-light-accent;

    &:hover {
      cursor: pointer;
      color: $primary-light-accent;
      border-color: $primary-light-accent;
      background-color: $primary-light;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__paragraph {
    width: 80%;
    margin-top: 0.75rem;

    text-align: center;
    color: $primary-light;
  }

  &__paragraph_home {
    margin-top: 0;
  }

  &__link {
    color: $primary-light-accent;

    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    transition: all 0.5s ease-in-out;

    &:hover {
      color: $success;
      text-decoration: underline;
    }
  }
}
