@use '@/colors/_colors.scss' as *;

.button {
  width: 50px;
  height: 50px;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;

  visibility: hidden;
  overflow: hidden;
  opacity: 0;

  outline: none;
  transition: all 0.5s ease-in-out;

  border: none;
  border-radius: 50%;
  background-color: $primary;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }

  &::before {
    content: '';
    width: 50px;
    height: 50px;

    position: absolute;
    animation: rotate 5s linear infinite;
    background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4);
  }

  /* &::after {
    content: '';
    width: 45px;
    height: 45px;

    position: absolute;
    border-radius: 50%;
    background-color: $primary;
  } */
}

.spans_wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 10px;
  // z-index: 20;

  transform: rotate(45deg);
}

.span {
  width: 70%;
  height: 70%;

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  // z-index: 10;

  opacity: 0;
  animation: animate 2s linear infinite;

  border-radius: 3px;
  border-top: 2px solid $primary-light;
  border-left: 2px solid $primary-light;
}

.span:nth-child(1) {
  transform: translate(-5px, -5px);
  animation-delay: 0.6s;
}

.span:nth-child(2) {
  transform: translate(0px, 0px);
  animation-delay: 0.3s;
}

.span:nth-child(3) {
  transform: translate(5px, 5px);
  animation-delay: 0s;
}

.visibility {
  visibility: visible;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
