@use '@/colors/_colors.scss' as *;

.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;

  &__ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;

    & li {
      list-style: none;
      position: relative;

      & a {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: $primary-light;

        transition: all 0.5s ease-in-out;

        &::before {
          content: '';
          width: 0;
          height: 5px;

          position: absolute;
          left: 0;
          bottom: -6px;

          transition: all 0.5s;

          background-color: $primary-light-accent;
        }

        &:hover::before {
          width: 100%;
        }

        &:hover {
          color: $primary-light-accent;
        }
      }
    }
  }

  &__section {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: none;
  }
}
