//* =======================================================
//* 1.- NEUTRAL COLORS
//* =======================================================
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(128, 128, 128);
//* =======================================================

//* =======================================================
//* 2.- PRIMARY COLORS
//* =======================================================
$primary: rgb(30, 56, 100);
$primary-light: rgb(247, 248, 249);
$primary-light-accent: rgb(95, 168, 193);
$primary-dark: rgb(23, 22, 30);
$primary-dark-accent: rgb(107, 123, 167);
//* =======================================================

//* =======================================================
//* 3.- INFORMATION COLORS
//* =======================================================
$default: rgb(170, 170, 170);
$info: rgb(22, 22, 30);
$warning: rgb(191, 126, 31);
$success: rgb(66, 143, 87);
$danger: rgb(244, 67, 54);
//* =======================================================

//* =======================================================
//* 4.- SKELETON COLORS
//* =======================================================
$skeleton-BaseColor: rgb(32, 32, 32);
$skeleton-highlightColor: rgb(68, 68, 68);
$skeleton-backgroundColor: rgb(59, 59, 59);
//* =======================================================

:export {
  white: $white;
  black: $black;
  gray: $gray;

  primary: $primary;
  primaryLight: $primary-light;
  primaryLightAccent: $primary-light-accent;
  primaryDark: $primary-dark;
  primaryDarkAccent: $primary-dark-accent;

  default: $default;
  info: $info;
  warning: $warning;
  success: $success;
  danger: $danger;

  skeletonBaseColor: $skeleton-BaseColor;
  skeletonHighlightColor: $skeleton-highlightColor;
  skeletonBackgroundColor: $skeleton-backgroundColor;
}
