@use '../../colors/colors' as *;

.container {
  position: relative;
}

.selected {
  display: flex;

  &::before {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 10px;

    display: inline-block;
    background-image: url('../../public/images/english.spanish.button/united-states-rectangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.ul {
  width: 120px;
  padding-top: 10px;

  position: absolute;

  border: 1px solid $primary-light;
  background-color: $primary-light;
  box-shadow: 0px 1px 10px rgba($color: $primary-dark, $alpha: 0.5);

  & li {
    list-style: none;

    &:hover {
      background-color: $primary-light-accent;
    }

    & a {
      padding-top: 5px 10px;

      display: block;

      color: $primary-dark;
      font-weight: bold;

      text-decoration: none;

      &::before {
        content: '';
        width: 25px;
        height: 25px;
        margin-right: 10px;

        display: inline-block;

        vertical-align: middle;

        background-size: contain;
        background-repeat: no-repeat;
      }

      &.english::before {
        background-image: url('../../public/images/english.spanish.button/united-states-rectangle.svg');
      }

      &.spanish::before {
        background-image: url('../../public/images/english.spanish.button/spain-rectangle.svg');
      }
    }
  }
}

/*
$primary: rgb(30, 56, 100);
$primary-light: rgb(247, 248, 249);
$primary-light-accent: rgb(95, 168, 193);
$primary-dark: rgb(23, 22, 30);
$primary-dark-accent: rgb(107, 123, 167);
*/
