@use '../../colors/colors' as *;

.container {
  width: 60px;
  height: 40px;
  padding: 0.4rem 0.8rem;

  display: flex;
  flex-flow: row nowrap;
  gap: 1px;
  justify-content: space-around;
  align-items: center;

  transition: all 0.4s ease-in-out;

  background-color: transparent;

  &__image {
    transition: all 0.4s ease-in-out;
  }

  &__span {
    margin-top: 4px;
    font-size: 1rem;
    color: $primary-light;

    transition: all 0.4s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    border-color: $primary-light-accent;

    & .container__image {
      filter: brightness(0) saturate(100%) invert(90%) sepia(9%) saturate(6640%) hue-rotate(166deg)
        brightness(79%) contrast(88%);
    }

    & .container__span {
      color: $primary-light-accent;
    }
  }
}
