@use '@/colors/_colors.scss' as *;

.link {
  padding: 0.5rem 1rem;

  color: $primary;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: var(--font-dancing-script);
  text-decoration: none;

  border-radius: 50%;
  background-color: $primary-light;

  transition: all 1s ease-in-out;

  &:hover {
    cursor: pointer;
    color: $primary-light;
    background-color: $primary-light-accent;
  }
}
