@use '@/colors/_colors.scss' as *;

.container {
  padding: 0.5rem 1rem;

  color: $primary;
  text-decoration: none;

  transition: all 0.5s ease-in-out;

  font-size: 1.6rem;
  font-weight: bold;
  font-family: var(--font-dancing-script);

  border-radius: 50%;
  background-color: $primary-light;

  &:hover {
    cursor: pointer;

    color: $primary-light;
    background-color: $primary-light-accent;
  }
}
