@use '../../../colors/colors' as *;

.container {
  width: 100%;
  margin-top: 7rem;
  padding: 1rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  background-color: $primary-light;
}
