.article {
  width: 100%;

  display: grid;
  grid-template-columns: 28% 68%;
  grid-template-rows: repeat(2, 1fr, 0.5fr);
  column-gap: 4%;
}

.articleImage {
  grid-column: 1/2;
  grid-row: 1/3;

  align-self: center;
  justify-self: center;
}

.articleInfo {
  grid-column: 2/3;
  grid-row: 1/2;

  align-self: center;
  justify-self: flex-start;
}

.articleButtons {
  width: 100%;
  padding: 0.25rem 0;

  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.articleButtons button {
  margin-right: 0.25rem;
  padding: 0.1rem 0.5rem;

  color: white;
  font-size: 1rem;
  font-family: var(--font-roboto);
  outline: none;

  transition: all 0.5s ease-in-out;

  border: 1px solid transparent;
  border-radius: 3px;
  background-color: rgb(63, 62, 126);
}

.articleButtons button:hover {
  cursor: pointer;
  color: rgb(63, 62, 126);
  border: 1px solid rgb(63, 62, 126);
  background-color: white;
}

.article h4 {
  font-weight: bold;
}

.article p {
  font-size: 0.8rem;
  font-weight: bold;
}
