@use '@/colors/_colors.scss' as *;

.container {
  width: 100%;
  padding: 3rem 0.5rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;

  background-color: $primary-light;

  &__title_and_subtitle_wrapper {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &__title,
  &__subtitle {
    text-align: center;

    color: $primary;
    font-weight: 700;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__subtitle {
    font-family: var(--font-dancing-script);
    font-size: 2.5rem;
  }

  &__products_wrapper {
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  &__goToPageLink_wrapper {
    width: 320px;
    height: 80px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;

    border-radius: 10px;
    background-color: $black;

    &::before {
      content: '';
      width: 370px;
      height: 370px;

      position: absolute;
      animation: rotate 5s linear infinite;

      background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4);
    }

    &::after {
      content: '';
      width: 310px;
      height: 70px;

      position: absolute;
      border-radius: 10px;
      background-color: $primary;
    }
  }

  &__link {
    width: 100%;

    z-index: 2;

    text-align: center;
    font-size: 1.2rem;
    color: $primary-light;
    text-decoration: none;

    transition: all 0.5s ease-in-out;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 6px;
      transform: scaleX(1.1);
    }
  }
}

.backgroundLight {
  @include backgroundLight;
}

.backgroundDark {
  @include backgroundDark;
}

.paddingTop {
  @extend .container;
  padding: 10rem 0.5rem 3rem;
}

.minHeight100vh {
  @extend .container;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .container__products_wrapper {
    flex-flow: row wrap;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
